*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    @include respond(lg) {
        font-size: 58%;
    }
    @include respond(md) {
        font-size: 40%;
    }
    @include respond(xs) {
        font-size: 35%;
    }
}

body {
    box-sizing: border-box;
    font-family: $font-primary;
    font-size: 1.6em;
    background-color: var(--color-secondary);
    position: relative;
    overflow-x: hidden;
}

//  Resets
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }

    .sr-only {
        border: 0;
        clip: rect(0,0,0,0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }