// Testimonials Slide
.swiper-container-team {
    margin: 0 auto;
    margin-top: 20rem;
    width: 100%;
    overflow: visible;

    @include respond(md) {
        margin-top: 12rem;
    }

    .swiper-slide {
        min-height: 50rem;
    }
}

.swiper-pagination-bullet {
    background: transparent;
    border: 2px solid var(--color-7);
    width: 11px;
    height: 11px;
    transition: all .4s ease-in-out;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background: #00F1DC;
}




