.customers {
    padding: 8rem 0;
    text-align: center;

    h2 {
        @include divider(var(--color-4));
    }

    &__logos {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        max-width: 100rem;
        width: 100%;
        margin-top: 3rem;
     
    }

    &__logo-box {
        flex: 0 0 150px;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__logo {
        max-width: 25rem;
        min-width: 10rem;
        width: 100%;
        height: auto;

    }


}