.experties {
    padding: 6rem 0;
    text-align: center;

    .heading {
        @include divider(var(--color-4));
    }

    .icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        max-width: 100rem;
        margin: 0 auto;
        padding: 3rem;

        


        &__box {
            flex: 0 0 25%;
            padding: 3rem;
            
            @include respond(md) {
                flex: 0 0 30%;
            }

            &:hover {
                .icons__icon {
                    transform: translateY(-10px);
                }

                .icons__text::before {
                    background: var(--color-4);
                }
            }

        }
        &__icon {
            width: 6rem;
            height:6rem;
            transition: transform .3s ease-out;
        }
        
        &__text {
            font-size: 2rem;
            max-width: 20rem;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            line-height: 1.2;
            &::before {
                content: "";
                display: block;
                width: 4rem;
                height: 4px;
                margin: 10px auto;
                background-color: var(--color-3);
            }
    
    
    
        }
    }

}
