.partners {
    background-color: var(--color-7);
    text-align: center;


    min-height: var(--partners-height);
    display: flex;
    justify-content: center;
    align-items: center;
 


    &__container {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        max-width: 120rem;
        @include respond(md) {
            max-width: 58rem;
            padding: 2rem;
        }

    }

    img {
        max-width: 14rem;
        width: 100%;
        margin: 1rem;
    }
}