.team {
    text-align: center;
    padding: 6rem 6%;
    background-color: var(--color-gray);
    .heading {
        @include divider(var(--color-4));
    }
}





// .cards {
//     justify-content: space-between;
//     min-height: 64rem;
//     margin-top: 15rem;
//     font-family: $font-secondary;

// }

.card {



    // &__content {
    //     margin-top: 15rem;
    //     padding: 0 6rem;
    //     color: var(--color-7);
    // }

    // &__name {
    //     font-weight: 900;
    //     font-size: 2.5rem;
    // }
    // &__role {
    //     font-weight: 700;
    //     font-size: 2rem;
    // }
    // &__desc {
    //     color: var(--color-dark);
    //     font-size: 1.8rem;
    //     padding-top: 2rem;
    // }

    // &__social {
    //     position: absolute;
    //     bottom: 0;
    // }

    // &__link {
    //     color: var(--color-7);
    //     &::after {
    //         content: "";
    //         display: block;
    //         width: 60px;
    //         height: 3px;
    //         background-color: currentColor;
    //     }

    //     &:hover {
    //         color: var(--color-4);
    //         svg {
    //             transform: translateY(-10px);
    //         }
    //     }
    //     svg {
    //         width: 2.5rem;
    //         height: 2.5rem;
    //         transition: transform .2s ease-out;
    //     }
    // }
}

// OLD

// .cards {
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-end;
//     max-width: 85%;
//     min-height: 60rem;
//     margin: 0 auto;
//  @include respond(lg) {
//      display: none;
//     }
// }

// .card {
//     position: relative;
//     background-color: var(--color-light);
    
//         padding: 0 8rem;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         text-align: center;
//     margin: 0 2rem;
//         min-height: 45rem;
//         max-width: 50rem;

//         @include respond(xl) {
//             padding: 0 4rem;
//         }
   
//         color: var(--color-7);
//         font-family: $font-secondary;

//         &__img {
//             max-width: 20rem;
//             width: 100%;
//             height: auto;
//             margin: 0 auto;
//             position: absolute;
//             top: 0;
//             transform: translateY(-50%);
//         }
//         &__title {
//             font-size: 2.4rem;
//             text-transform: capitalize;
//             font-weight: 900;
//         }
//         &__sub-title {
//             font-size: 2rem;
//             text-transform: uppercase;
//              font-weight: 700;
//         }
//         &__description {
//             margin-top: 3rem;
//             font-size: 1.6rem;
//             color: var(--color-dark);
//         }
        
//         &__icon {
//             position: absolute;
//             bottom: 0;
//             left: 50%;
//             transform: translateX(-50%);
//             color: var(--color-7);
//             border-bottom: 3px solid currentColor;
//             cursor: pointer;
//             padding: 1rem;
//             svg {
//                 width: 3rem;
//                 height: 3rem;
//                 transition: transform .3s ease-in-out;
//             }

//             &:hover {
//                 color: var(--color-4);
//                 svg {
//                     transform: translateY(-1.5rem);
//                 }
//             }
            
//         }
//     }

//     .cards-mobile {
//         display: none;
      
//         .card {
//             margin: 4rem auto;
//             max-width: 28rem;
//             @include respond(md) {
//                 max-width: 42rem;
//             }

//             &__img {
//                 max-width: 16rem;
//             }

//             &__title {
//                 font-size: 3.5rem;
//                 margin-bottom: 1rem;
//             }
//             &__sub-title {
//                 font-size: 2.5rem;
//             }
//             &__description {
//                 font-size: 2rem;
//             }
//         }

//         .swiper-wrapper {
//             overflow-y: visible;

//         }
//      @include respond(lg) {
//          display: block;

//         }
//     }
