.testimonials {
    position: relative;
    background: linear-gradient(180deg, #EEEEEE 0%, #EEEEEE00 100%);

    &__graphic {
        position: absolute;
        top: 80px;
        left: -45px;

        img {
            max-width: 40rem;
            width: 100%;
            height: auto;
        }

    }

}