.nav {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;

    
    .top-nav {
        padding: 1rem 8rem;
        background-color: var(--color-7);
        display: flex;
        justify-content: space-between;

        @include respond(md) {
            padding: 1rem 4rem;
        }

        ul { 
            display: flex;
            justify-content: center;
            align-items: center; 
            a {
                transition: color .3s ease-out;
                &:hover {
                    color: var(--color-3);
                }
            }
        }

        &__left {
            font-size: 1.4rem;
            li { &:not(:first-child) { margin: 0 4rem;} }
            span {
                margin: 0 .8rem;
            }

            @include respond(md) {
                display: none !important;
            }
        }
        &__right {
            li {  margin: 0 1rem;} 
            @include respond(md) {
                margin-left: auto;
                font-size: 3.5rem;
                li {  margin: 0 2rem;} 
            }
          
        }
    }
    .main-nav {
        background-color: rgba( #fff, .9 );
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 8rem;
        @include respond(md) {
            padding: 1rem 4rem;
        }

        &__logo {
            img {
                max-width: 20rem;
                width: 100%;
                height: auto;
            }
        }

        &__menu {
            display: flex;
            justify-content: center;
            text-align: center;
            transition: transform .2s ease-in-out;

            &.is-active {
                transform: translateX(0);
            }

        @include respond(md) {
            position: fixed;
            padding: 4% 0;
            right: 0;
            top: 96px;
            transform: translateX(100%);
            flex-direction: column;
            justify-content: space-evenly;
            width: 50%;
            height: 50%;
            min-height: 10rem;
            background: var(--color-light);
            border-left: 3px solid var(--color-7);
            border-bottom: 3px solid var(--color-7);
        }
    }


        &__item {
            &:not(:last-child) {
                margin: 0 4rem;
            }
            @include respond(md) {
                flex: 1;
                margin: 0 !important;
            }
        }
        &__link {
            color: var(--color-7);
            transition: text-shadow .2s ease-out;
            font-size: 2rem;
            font-weight: 400;
            display: inline-block;
            width: 100%;
            font-family: $font-secondary;

            &--active,
            &:hover {
                text-shadow: 0 0 .65px currentColor, 
                             0 0 .65px currentColor;
            }

            @include respond(md) {
                font-size: 2.5rem;
                padding: 1rem;
                
            }
        }

        .hamburger {
            display: none;
            z-index: 1000;
            @include respond(md) {
                display: block;
                transform: scale(.7);
            }
        }
    }
}

