:root {
  --color-1: #001741;
  --color-2: #0069BB;
  --color-3: #00F1DC;
  --color-4: #F05D43;
  --color-5: #200B30;
  --color-6: #672B94;
  --color-7: #001741;
  --color-light: #fff;
  --color-dark: #000;
  --color-gray: #eee;
  --color-gray-dark: #bbb;
  --partners-height: 15rem; }
  @media only screen and (max-width: 768px) {
    :root {
      --partners-height: 25rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6em;
  background-color: var(--color-secondary);
  position: relative; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #fff; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.container {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (max-width: 1924px) {
    .container {
      max-width: 960px;
      padding-right: 2rem;
      padding-left: 2rem; } }
  @media only screen and (max-width: 1024px) {
    .container {
      max-width: 800px;
      padding-right: 6rem;
      padding-left: 6rem; } }
  @media only screen and (max-width: 768px) {
    .container {
      max-width: 600px;
      padding-right: 5rem;
      padding-left: 5rem; } }
  @media only screen and (max-width: 576px) {
    .container {
      max-width: 540px; } }

.heading {
  font-size: 3.2rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: inline-block;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--color-7); }

.para {
  font-size: 1.6rem;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  color: var(--color-dark); }
  @media only screen and (max-width: 768px) {
    .para {
      font-size: 2rem; } }
  .para--lg {
    font-size: 4rem;
    max-width: 90rem;
    margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      .para--lg {
        font-size: 3rem; } }

.light {
  color: var(--color-light); }

.dark {
  color: var(--color-dark); }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px; }

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg); }
  .hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY
   */
.hamburger--3dy .hamburger-box {
  perspective: 80px; }

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(-180deg); }
  .hamburger--3dy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY Reverse
   */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY
   */
.hamburger--3dxy .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg); }
  .hamburger--3dxy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY Reverse
   */
.hamburger--3dxy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy-r .hamburger-inner::before, .hamburger--3dxy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Arrow Right
   */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Alt Right
   */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Turn
   */
.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn.is-active .hamburger-inner::before {
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }
  .hamburger--arrowturn.is-active .hamburger-inner::after {
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Turn Right
   */
.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::before {
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::after {
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Boring
   */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse-r .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(270deg);
    transition-delay: 0.075s; }

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -80px;
      top: -80px;
      transform: translate3d(80px, 80px, 0) rotate(45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -80px;
      top: -80px;
      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Emphatic Reverse
   */
.hamburger--emphatic-r {
  overflow: hidden; }
  .hamburger--emphatic-r .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic-r.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
    .hamburger--emphatic-r.is-active .hamburger-inner::before {
      left: -80px;
      top: 80px;
      transform: translate3d(80px, -80px, 0) rotate(-45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic-r.is-active .hamburger-inner::after {
      right: -80px;
      top: 80px;
      transform: translate3d(-80px, -80px, 0) rotate(45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Minus
   */
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }

.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; }

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; }

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }
  .hamburger--slider-r .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider-r .hamburger-inner::after {
    top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }
  .hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg); }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
  .hamburger--spring-r .hamburger-inner::before {
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spring-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
  .hamburger--spring-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand
   */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand Reverse
   */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand-r .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand-r .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg); }

/*
   * Vortex Reverse
   */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex-r .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex-r .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  min-height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  background: rgba(255, 255, 255, 0.9);
  transition: all .4s ease-out; }
  .nav.scrolled {
    background: white; }
    .nav.scrolled .nav__logo img {
      transform: scale(0.9); }
  .nav__logo {
    z-index: 700; }
    .nav__logo img {
      transition: transform .2s ease-out;
      max-width: 15rem;
      width: 100%;
      height: auto; }
  .nav__menu {
    display: flex;
    justify-content: center;
    text-align: center;
    transition: transform .3s ease-in-out; }
    @media only screen and (max-width: 768px) {
      .nav__menu {
        position: fixed;
        right: 0;
        transform: translateX(100%);
        top: 5rem;
        flex-direction: column;
        width: 50%;
        height: 40%;
        background: rgba(255, 255, 255, 0.9);
        border-left: 3px solid var(--color-7);
        border-bottom: 3px solid var(--color-7); } }
    .nav__menu.is-active {
      transform: translateX(0); }
  .nav__item {
    color: var(--color-7);
    padding: 10px 30px; }
  .nav__link {
    font-size: 1.8rem;
    color: currentColor;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    display: inline-block;
    text-shadow: -.4px -.4px 0 transparent,  .4px .4px transparent;
    transition: text-shadow .2s ease-in-out; }
    @media only screen and (max-width: 768px) {
      .nav__link {
        font-size: 2.5rem; } }
    .nav__link:hover {
      text-shadow: -.4px -.4px 0 currentColor,  .4px .4px currentColor; }
  .nav .hamburger {
    z-index: 700;
    display: none; }
    @media only screen and (max-width: 768px) {
      .nav .hamburger {
        display: inline-block; } }

.swiper-container-team {
  margin: 0 auto;
  margin-top: 20rem;
  width: 100%;
  overflow: visible; }
  @media only screen and (max-width: 768px) {
    .swiper-container-team {
      margin-top: 12rem; } }
  .swiper-container-team .swiper-slide {
    min-height: 50rem; }

.swiper-pagination-bullet {
  background: transparent;
  border: 2px solid var(--color-7);
  width: 11px;
  height: 11px;
  transition: all .4s ease-in-out;
  opacity: 1; }

.swiper-pagination-bullet-active {
  background: #00F1DC; }

.header {
  position: relative;
  height: 100%; }
  .header .sticker {
    position: absolute;
    background-color: var(--color-3);
    z-index: 20;
    right: 0;
    bottom: 15rem;
    padding: 1.2rem 4rem;
    border-top-left-radius: 6rem;
    border-bottom-left-radius: 6rem; }
    @media only screen and (max-width: 768px) {
      .header .sticker {
        bottom: 5rem; } }
    .header .sticker p {
      font-size: 2.2rem; }
  .header .slide {
    width: 100%;
    height: 100%;
    padding: 8rem 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
    min-height: calc(100vh - var(--partners-height)); }
    .header .slide--1 {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 50%, transparent), url(../../assets/img/header/header1-bg--desktop.png); }
      @media only screen and (max-width: 768px) {
        .header .slide--1 {
          background-image: url(../../assets/img/header/header1-bg--mobile.png); } }
    .header .slide--2 {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 50%, transparent), url(../../assets/img/header/header2-bg--desktop.png); }
      @media only screen and (max-width: 768px) {
        .header .slide--2 {
          background-image: url(../../assets/img/header/header2-bg--mobile.png); } }
    .header .slide--3 {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 50%, transparent), url(../../assets/img/header/header3-bg--desktop.png); }
      @media only screen and (max-width: 768px) {
        .header .slide--3 {
          background-image: url(../../assets/img/header/header3-bg--mobile.png); } }
    .header .slide--3 {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 50%, transparent), url(../../assets/img/header/header4-bg--desktop.png); }
      @media only screen and (max-width: 768px) {
        .header .slide--3 {
          background-image: url(../../assets/img/header/header4-bg--mobile.png); } }
    .header .slide__text {
      padding: 4rem 0;
      max-width: 90rem;
      margin: 0 auto; }
      @media only screen and (max-width: 576px) {
        .header .slide__text {
          padding: 1rem; } }
      .header .slide__text h2 {
        line-height: 1;
        font-size: 8.5rem;
        font-weight: 900;
        max-width: 63rem;
        letter-spacing: 1.5px;
        margin: 0 auto;
        white-space: nowrap;
        font-family: "IBM Plex Sans", sans-serif; }
        @media only screen and (max-width: 768px) {
          .header .slide__text h2 {
            font-size: 5.5rem; } }
      .header .slide__text p {
        margin-top: 10px;
        line-height: 1.5;
        font-weight: 700;
        font-size: 4rem;
        letter-spacing: 1.2px; }
        @media only screen and (max-width: 768px) {
          .header .slide__text p {
            font-size: 3rem; } }
    .header .slide__dots {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      padding: 2rem; }
      @media only screen and (max-width: 768px) {
        .header .slide__dots {
          bottom: 85px; } }
      .header .slide__dots .dot {
        width: 10px;
        height: 10px;
        background-color: #8f8f8f;
        display: inline-block;
        margin: 0 5px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color .2s ease-in-out; }
        .header .slide__dots .dot:hover, .header .slide__dots .dot--active {
          background-color: #fff; }

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s; }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.partners {
  background-color: var(--color-7);
  text-align: center;
  min-height: var(--partners-height);
  display: flex;
  justify-content: center;
  align-items: center; }
  .partners__container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    max-width: 100rem; }
    @media only screen and (max-width: 768px) {
      .partners__container {
        max-width: 45rem; } }
  .partners img {
    max-width: 12rem;
    width: 100%;
    margin: 1rem; }

.experties {
  padding: 9rem 0;
  text-align: center; }
  .experties .heading::after {
    content: "";
    width: 8rem;
    height: 5px;
    display: block;
    background-color: var(--color-4);
    margin: 1.2rem auto; }
  .experties .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100rem;
    width: 100%;
    margin: 4rem auto 4rem; }
    .experties .icons__box {
      padding: 2rem;
      flex: 1 1 25%; }
      @media only screen and (max-width: 768px) {
        .experties .icons__box {
          flex: 0 0 25%; }
          .experties .icons__box:nth-child(-n + 2) {
            flex: 0 0 35%; } }
    .experties .icons__icon {
      max-width: 7rem;
      width: 100%; }
    .experties .icons__text {
      font-size: 2rem;
      max-width: 20rem;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      line-height: 1.2; }
      .experties .icons__text::before {
        content: "";
        display: block;
        width: 4rem;
        height: 4px;
        margin: 10px auto;
        background-color: var(--color-3); }

.about {
  background-color: var(--color-gray); }
  .about__top {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    position: relative;
    z-index: 1; }
    @media only screen and (max-width: 768px) {
      .about__top {
        flex-direction: column; } }
  .about__bottom {
    background-color: var(--color-3);
    min-height: 34.6rem;
    text-align: center;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .about__bottom {
        padding: 5rem 3rem;
        min-height: 100%; } }
  .about__img {
    max-width: 50rem;
    width: 100%;
    margin: -4rem 0; }
    @media only screen and (max-width: 768px) {
      .about__img {
        display: none; } }
    .about__img--mobile {
      display: none;
      width: 100%;
      height: 100%;
      max-height: 15rem;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0; }
      @media only screen and (max-width: 768px) {
        .about__img--mobile {
          display: block; } }
  .about__content {
    padding: 0 6%;
    z-index: 2; }
    @media only screen and (max-width: 768px) {
      .about__content {
        padding: 3rem; } }
  .about .heading::after {
    content: "";
    width: 8rem;
    height: 5px;
    display: block;
    background-color: var(--color-4);
    margin: 1.2rem 0 3rem; }
  @media only screen and (max-width: 768px) {
    .about .para--about {
      padding-top: 10%; } }

.customers {
  padding: 8rem 0;
  text-align: center; }
  .customers h2::after {
    content: "";
    width: 8rem;
    height: 5px;
    display: block;
    background-color: var(--color-4);
    margin: 1.2rem auto; }
  .customers__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100rem;
    width: 100%;
    margin: 8rem auto 4rem; }
  .customers__logo-box {
    flex: 1 1 15%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .customers__logo-box {
        flex: 0 0 25%; } }
  .customers__logo {
    max-width: 25rem;
    min-width: 7rem;
    width: 100%;
    height: auto; }

.team {
  text-align: center;
  background-color: var(--color-gray);
  padding: 6rem 0; }
  .team .heading::after {
    content: "";
    width: 8rem;
    height: 5px;
    display: block;
    background-color: var(--color-4);
    margin: 1.2rem auto; }

.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 85%;
  min-height: 60rem;
  margin: 0 auto; }
  @media only screen and (max-width: 1024px) {
    .cards {
      display: none; } }

.card {
  position: relative;
  background-color: var(--color-light);
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 2rem;
  min-height: 45rem;
  max-width: 50rem;
  color: var(--color-7);
  font-family: "Roboto", sans-serif; }
  @media only screen and (max-width: 1924px) {
    .card {
      padding: 0 4rem; } }
  .card__img {
    max-width: 20rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 0;
    transform: translateY(-50%); }
  .card__title {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 900; }
  .card__sub-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700; }
  .card__description {
    margin-top: 3rem;
    font-size: 1.6rem;
    color: var(--color-dark); }
  .card__icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-7);
    border-bottom: 3px solid currentColor;
    cursor: pointer;
    padding: 1rem; }
    .card__icon svg {
      width: 3rem;
      height: 3rem;
      transition: transform .3s ease-in-out; }
    .card__icon:hover {
      color: var(--color-3); }
      .card__icon:hover svg {
        transform: translateY(-1.5rem); }

.cards-mobile {
  display: none; }
  .cards-mobile .card {
    margin: 4rem auto;
    max-width: 28rem; }
    .cards-mobile .card__img {
      max-width: 16rem; }
    .cards-mobile .card__title {
      font-size: 3rem; }
    .cards-mobile .card__sub-title {
      font-size: 2.5rem; }
    .cards-mobile .card__description {
      font-size: 2rem; }
  .cards-mobile .swiper-wrapper {
    overflow-y: visible; }
  @media only screen and (max-width: 1024px) {
    .cards-mobile {
      display: block; } }

.testimonials {
  padding: 4rem;
  position: relative;
  background: linear-gradient(to bottom, rgba(187, 187, 187, 0.2), transparent); }
  .testimonials__graphic {
    position: absolute;
    max-width: 30rem;
    width: 100%;
    height: auto;
    left: 0;
    top: 12rem; }
  .testimonials__slide {
    text-align: center;
    max-width: 50rem;
    margin: 0 auto;
    color: var(--color-7);
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem; }
    @media only screen and (max-width: 768px) {
      .testimonials__slide {
        min-height: 55rem; } }
  .testimonials__img {
    max-width: 15rem;
    height: auto;
    margin: 0 auto;
    display: block; }
  .testimonials__text {
    padding: 2rem 0; }
    .testimonials__text::before {
      content: "";
      width: 8rem;
      margin: 0 auto;
      margin-bottom: 2rem;
      height: 5px;
      background-color: var(--color-4);
      display: block; }
  .testimonials__title {
    font-weight: 700;
    padding: 2rem 0;
    display: flex;
    justify-content: center; }
    .testimonials__title p {
      padding: 0 .9rem; }
      .testimonials__title p:not(:first-child) {
        border-left: 2px solid var(--color-7); }

.contact {
  text-align: center;
  padding: 8rem 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), transparent), url(../../assets/img/contact/bg-contact.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .contact .heading::after {
    content: "";
    width: 8rem;
    height: 5px;
    display: block;
    background-color: var(--color-4);
    margin: 1.2rem auto; }
  .contact .form {
    max-width: 90rem;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .contact .form__group {
      flex: 1 1 50%;
      padding: .5rem; }
      @media only screen and (max-width: 768px) {
        .contact .form__group {
          flex: 1 1 100%;
          padding: 0.8rem 3px; } }
      .contact .form__group--checkbox {
        flex: 1 1 100%;
        padding: 1.8rem .5rem;
        text-align: left;
        margin-left: .5rem;
        cursor: pointer; }
        .contact .form__group--checkbox .check, .contact .form__group--checkbox label {
          cursor: pointer; }
        .contact .form__group--checkbox label {
          margin-left: 1rem; }
      .contact .form__group--textarea {
        padding-top: 0;
        width: 100%; }
        .contact .form__group--textarea textarea {
          resize: none; }
    .contact .form__control {
      font-family: inherit;
      font-size: 1.6rem;
      color: currentColor;
      width: 100%;
      padding: 1.2rem 1.5rem;
      border: 0;
      border-radius: 0; }
      .contact .form__control:focus {
        background: transparent;
        outline-color: var(--color-4); }
      @media only screen and (max-width: 768px) {
        .contact .form__control {
          padding: 2.5rem 1.5rem; } }
      .contact .form__control::placeholder {
        color: currentColor; }
    .contact .form .select-box {
      flex: 1 1 100%;
      text-align: left;
      padding: .5rem;
      padding-bottom: 0; }
      .contact .form .select-box .selected {
        background-color: var(--color-gray);
        padding: 1.4rem;
        cursor: pointer;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        @media only screen and (max-width: 768px) {
          .contact .form .select-box .selected {
            padding: 2.4rem 1.4rem; } }
        .contact .form .select-box .selected__text {
          font-weight: 700; }
        .contact .form .select-box .selected__arrow {
          transition: transform .4s ease-in-out; }
          .contact .form .select-box .selected__arrow.flip {
            transform: rotate(-180deg); }
          .contact .form .select-box .selected__arrow svg {
            width: 2rem;
            height: 2rem; }
      .contact .form .select-box .options {
        background-color: #bbb;
        color: var(--color-dark);
        pointer-events: none;
        transition: all .3s ease-in-out;
        max-height: 0;
        overflow-y: scroll;
        opacity: 0; }
        .contact .form .select-box .options::-webkit-scrollbar {
          background: var(--color-light);
          border-radius: 6px 0 0 6px; }
          .contact .form .select-box .options::-webkit-scrollbar-thumb {
            background: #aaaaaa;
            border-radius: 6px 0 0 6px; }
        .contact .form .select-box .options.active {
          opacity: 1;
          pointer-events: all;
          max-height: 24rem; }
        .contact .form .select-box .options .option {
          padding: 1.2rem;
          transition: all .3s ease-out; }
          .contact .form .select-box .options .option, .contact .form .select-box .options .option label {
            cursor: pointer; }
          .contact .form .select-box .options .option:hover {
            background-color: var(--color-light); }
          .contact .form .select-box .options .option input[type="radio"] {
            display: none; }
    .contact .form__btn {
      width: 100%;
      background-color: var(--color-4);
      color: var(--color-light);
      width: 100%;
      padding: 1.8rem;
      font-size: 2rem;
      border: none;
      appearance: none;
      -webkit-appearance: none;
      cursor: pointer;
      transition: all .4s ease-in-out;
      font-family: inherit;
      text-transform: uppercase;
      border: 2px solid transparent; }
      @media only screen and (max-width: 768px) {
        .contact .form__btn {
          padding: 2.4rem 1.4rem; } }
      .contact .form__btn:hover {
        border: 2px solid var(--color-4);
        background: rgba(var(--color-3), 0.4);
        color: var(--color-4); }
    .contact .form__contact {
      flex: 1 1 100%;
      color: var(--color-7);
      display: flex;
      justify-content: space-between;
      padding: 3rem 4rem; }
      @media only screen and (max-width: 768px) {
        .contact .form__contact {
          flex-direction: column;
          align-items: center; } }
      .contact .form__contact .contact-item {
        display: flex; }
        @media only screen and (max-width: 768px) {
          .contact .form__contact .contact-item {
            padding: 2rem;
            transform: scale(1.4); } }
        .contact .form__contact .contact-item a {
          color: currentColor;
          margin: 0 1rem; }
        .contact .form__contact .contact-item svg {
          width: 2rem;
          height: 2rem; }
    .contact .form .countries {
      display: flex;
      justify-content: center;
      color: var(--color-7);
      width: 100%;
      flex-wrap: wrap;
      border: 2px solid currentColor;
      border-left: 0;
      border-right: 0; }
      @media only screen and (max-width: 768px) {
        .contact .form .countries {
          padding: 0 4rem; } }
      .contact .form .countries li {
        padding: 3rem;
        font-size: 2rem;
        font-weight: 700;
        position: relative;
        color: currentColor; }
        @media only screen and (max-width: 768px) {
          .contact .form .countries li {
            padding: 1rem;
            flex: 0 0 30%; } }
        .contact .form .countries li:not(:last-child)::after {
          content: "";
          background-color: currentColor;
          display: inline-block;
          width: 2px;
          height: 30%;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%); }

.footer {
  background-color: var(--color-7);
  min-height: 20rem;
  color: var(--color-light);
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 768px) {
    .footer {
      flex-direction: column;
      padding: 2rem 0;
      text-align: center; }
      .footer > * {
        padding: 1rem; } }
  .footer__logo img {
    max-width: 17rem;
    width: 100%;
    height: auto; }
  @media only screen and (max-width: 768px) {
    .footer__center {
      order: 1; } }
  .footer__center .list {
    display: flex;
    justify-content: center;
    padding: 1rem 0; }
    .footer__center .list li {
      padding: 0 2rem; }
      .footer__center .list li a {
        color: var(--color-3); }
        .footer__center .list li a svg {
          width: 3rem;
          height: 3rem; }
    .footer__center .list--bottom li {
      position: relative; }
      .footer__center .list--bottom li a {
        color: var(--color-light);
        text-decoration: underline;
        transition: color .4 ease-in-out; }
        .footer__center .list--bottom li a:hover {
          color: var(--color-3); }
      .footer__center .list--bottom li:first-child::after {
        content: "";
        height: 2rem;
        width: 2px;
        background-color: var(--color-light);
        display: inline-block;
        position: absolute;
        right: -1px; }
  .footer__menu ul li {
    margin: .8rem 0; }
