:root {
  --color-1: #001741;
  --color-2: #0069BB;
  --color-3: #00F1DC;
  --color-4: #F05D43;
  --color-5: #200B30;
  --color-6: #672B94;
  --color-7: #001741;
  --color-light: #fff;
  --color-dark: #000;
  --color-gray: #eee;
  --color-gray-dark: #bbb;
  --partners-height: 15rem; }
  @media only screen and (max-width: 768px) {
    :root {
      --partners-height: 20rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 58%; } }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 360px) {
    html {
      font-size: 35%; } }

body {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6em;
  background-color: var(--color-secondary);
  position: relative;
  overflow-x: hidden; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #fff; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.header {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: calc(90vh - var(--partners-height));
  background-image: url(../../../assets/img/syllabus/header/header-python.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center; }
  .header__breadcrumbs {
    align-self: flex-start;
    text-align: left;
    margin-top: 5rem;
    margin-left: 10%;
    margin-bottom: 4rem;
    display: none; }
    .header__breadcrumbs ul {
      display: flex; }
  .header__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .header__inner {
    margin-top: auto;
    order: 1;
    color: var(--color-light); }
    .header__inner .course-heading {
      font-size: 7rem;
      text-transform: uppercase;
      display: block; }
    .header__inner .course-details {
      display: flex;
      justify-content: center;
      font-size: 4rem;
      margin: 2rem 0; }
      .header__inner .course-details .divider {
        margin: 0 1rem; }
  .header__btns {
    order: 2;
    padding: 2rem;
    width: 100%;
    max-width: 70rem;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 576px) {
      .header__btns {
        flex-direction: column;
        margin-bottom: 4rem; } }
  .header__btn {
    margin: 0 1rem;
    font-size: 2rem;
    padding: .7rem;
    background: transparent;
    border: 1px solid;
    border-color: transparent;
    transition: all .3s ease-in-out;
    flex: 1; }
    .header__btn--full {
      background-color: var(--color-4); }
      .header__btn--full:hover {
        border-color: var(--color-4);
        background-color: rgba(240, 93, 67, 0.1); }
    .header__btn--ghost {
      border-color: var(--color-4); }
      .header__btn--ghost:hover {
        border-color: var(--color-light); }
    @media only screen and (max-width: 576px) {
      .header__btn {
        margin: 1rem 0;
        padding: 1.5rem;
        font-size: 3rem; } }
  .header .sticker {
    background-color: var(--color-3);
    color: var(--color-dark);
    z-index: 20;
    padding: 1.2rem 4rem;
    border-top-left-radius: 6rem;
    border-bottom-left-radius: 6rem;
    font-size: 2.5rem;
    align-self: flex-end;
    order: 3;
    margin-top: auto;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 576px) {
      .header .sticker {
        order: 1;
        margin-top: 3rem;
        margin-bottom: 1rem; } }

.details {
  max-width: 144rem;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .details {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "content meetings" "content meetings" "content meetings"; } }
  .details .modules .tabs__menu {
    display: flex;
    padding: .5rem; }
  .details .modules .tabs__btn {
    cursor: pointer;
    border: none;
    appearance: none;
    outline: none;
    background: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    transition: color .2s ease-in-out; }
    .details .modules .tabs__btn:not(:first-child) {
      margin-left: 2rem;
      padding-left: .5rem; }
      .details .modules .tabs__btn:not(:first-child):before {
        content: "|";
        margin-right: 2rem;
        color: var(--color-1); }
    .details .modules .tabs__btn--active {
      color: var(--color-4); }
  .details .modules .tabs__content {
    padding: 15px;
    font-size: 1.8rem;
    display: none; }
    .details .modules .tabs__content--active {
      display: block; }
  .details .pre {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 768px) {
      .details .pre {
        flex-direction: column; } }
    .details .pre ul {
      flex: 1;
      padding-left: 2rem; }
      @media screen and (min-width: 768px) {
        .details .pre ul::before {
          content: "";
          width: 3px;
          height: 100%;
          background-color: var(--color-gray);
          float: left;
          margin-right: 2rem; } }
  .details .meetings {
    grid-area: meetings;
    text-align: center;
    background: var(--color-gray);
    display: flex;
    flex-direction: column; }
    .details .meetings .heading::after {
      content: "";
      width: 6rem;
      height: 4px;
      display: block;
      background-color: var(--color-4);
      margin: 1.2rem auto; }
    .details .meetings__dates {
      display: flex;
      flex-direction: column; }
      .details .meetings__dates time {
        padding: 1rem; }
    @media only screen and (max-width: 768px) {
      .details .meetings {
        display: none; } }
  .details .meetings-half {
    background-color: var(--color-gray); }
    @media screen and (min-width: 768px) {
      .details .meetings-half {
        display: none; } }
  .details .quote-box {
    text-align: center;
    color: var(--color-1);
    margin-top: auto; }
    .details .quote-box--mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .details .quote-box img {
      display: block;
      margin: 0 auto; }
    .details .quote-box a {
      display: block; }

ul li {
  display: flex; }
  ul li::before {
    content: "-";
    margin-right: 5px; }

.hiddenText {
  display: none; }

section {
  padding: 4rem 2rem;
  position: relative; }
  section .heading {
    font-size: 2.6rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--color-1); }
    section .heading::after {
      content: "";
      width: 6rem;
      height: 4px;
      display: block;
      background-color: var(--color-4);
      margin: 1rem 0 3rem; }

.icon-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse; }
  .icon-box--static {
    flex-direction: row; }
  .icon-box--center {
    align-items: center; }
  @media only screen and (max-width: 768px) {
    .icon-box {
      flex-direction: row; } }
  .icon-box .icon {
    max-width: 5rem;
    width: 100%;
    height: auto; }
    @media only screen and (max-width: 768px) {
      .icon-box .icon {
        max-width: 7rem;
        margin-right: 1rem;
        margin-top: -5px; } }
    @media screen and (min-width: 768px) {
      .icon-box .icon--responsive {
        position: absolute;
        top: 105px;
        left: 25px; } }

.content-box h5 {
  color: var(--color-4); }

.content-box p {
  color: var(--color-1); }

@media screen and (min-width: 768px) {
  .content-box {
    margin-left: 8rem;
    margin-top: -1rem;
    max-width: 70rem; } }
