.details {
    max-width: 144rem;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "content meetings"
                             "content meetings"
                             "content meetings";
    }

    ul {
        li {
            display: flex;
            &::before {
                content: "-";
                margin-right: 5px;
            }
        }
    }

    .outline {
        &__btn {
            background: none;
            border: none;
            color: var(--color-4);
            padding: 1rem;
            margin-top: 2rem;
            margin-left: -1rem;
            cursor: pointer;
            outline: none;

            display: flex;
            justify-content: center;
            align-items: center;
            span {
                margin-left: .5rem;
                margin-top: 3px;
            }
        }
    }
    .modules {

        .tabs {
            &__menu {
                display: flex;
                padding: .5rem;

                @include respond(sm) {
                    padding: 2rem;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    width: 100%;
                }
            }
            &__btn {
                cursor: pointer;
                border: none;
                appearance: none;
                outline: none;
                background: none;
                font-size: 1.6rem;
                text-transform: uppercase;
                font-weight: 700;
                white-space: nowrap;
                transition: color .2s ease-in-out;
                &:not(:first-child) {
                    margin-left: 2rem;
                    padding-left: .5rem;
                    &:before {
                        content: "|";
                        margin-right: 2rem;
                        color: var(--color-1);
                    }
                }

                &--active {
                    color: var(--color-4);
                }

                @include respond(sm) {
                    font-size: 2.5rem;
                    padding: 2rem;
                }
            }


            &__content {
                padding: 15px;
                font-size: 1.8rem;
                display: none;

                h5 {
                    font-size: 2rem;
                    @include respond(sm) {
                        font-size: 3.5rem;
                    }
                }

                ul {
                    margin-top: 1rem;
                    li {
                        @include respond(sm) {
                            font-size: 2.5rem;
                        }
                    }
                }

                &--active {
                    display: block;
                }
            }
        }
    }

    .pre {
        display: flex;
        flex-wrap: wrap;
        .heading {
            margin-left: 1rem;
            }
        @include respond(md) {
            flex-direction: column;
        }


        ul {
            flex: 1;
            padding-left: 2rem;
            @media screen and (min-width: 768px) {
                &::before {
                    content: "";
                    width: 3px;
                    height: 100%;
                    background-color: var(--color-gray);
                    float: left;
                    margin-right: 2rem;
                }
            }
        }
    }
    .meetings {
        grid-area: meetings;
        text-align: center;
        background: var(--color-gray);
        display: flex;
        flex-direction: column;
        padding: 6rem;

        .heading {
            @include divider( var(--color-4), false );
        }

        &__dates {
            display: flex;
            flex-direction: column;
            time {
                padding: 1rem;
                &:before {
                    content: "-";
                }
            }
        }

        @include respond(md) {
            display: none;
        }
        
   
    }

    .meetings-half {
        background-color: var(--color-gray);
        @media screen and (min-width: 768px) {
            display: none;
        }

        cite {
            font-size: 3rem;
        }

    

        .meetings__dates {
            time {
                font-size: 2.5rem;
                color: var(--color-1);
            } 
        }
        
    }


}
// General Styles

.quote-box {
    text-align: center;
    color: var(--color-1);
    margin-top: auto;

    cite {
        font-size: 1.8rem;
        font-style: normal;
        font-family: $font-secondary;
        display: block;
    }

        
    .quote-btn {
        background-color: var(--color-1);
        padding: 1.2rem;
        font-size: 2rem;
        margin-top: 4rem;
        display: block;
        appearance: none;
        border: none;
        outline: none;
        transition: all .2s ease-in-out;
        border: 2px solid transparent;
        &:hover {
            background-color: transparent;
            border-color:  var(--color-1);
            color: var(--color-1);
        }

        @include respond(sm) {
            font-size: 2.4rem;
        }

    }




}

.hiddenText {
    display: none;
}

section {
    position: relative;
    padding: 4rem 2rem;
    @include respond(sm) {
        padding: 4rem 5rem;
    }
    .heading {
        font-size: 2.6rem;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        font-family: $font-primary;
        color: var(--color-1);
        @include divider( var(--color-4), true );
        @include respond(sm) {
            font-size: 3.2rem;
        }
    }
}
.icon-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;

    &--static {
        flex-direction: row;
    }

    &--center {
        align-items: center;
    }
    @include respond(md) {
        flex-direction: row;
        align-items: center;
    }
    .icon {
        width: 5rem;
        height: 5rem;
        @include respond(md) {
            width: 8rem;
            height: 8rem;
            margin-right: 2rem;
            margin-top: -3rem;
        }

        &--responsive {
            @media screen and (min-width: 768px) {
                position: absolute;
                top: 105px;
                left: 25px;
            }
        }
    }
}

.content-box {
    h5 {
        color: var(--color-4);
    }

    p {
        color: var(--color-1);
    }

    @media screen and (min-width: 768px) {
        margin-left: 8rem;
        margin-top: -1rem;
        max-width: 70rem;
    }
}



