.details {
    max-width: 144rem;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "content meetings"
                             "content meetings"
                             "content meetings";
    }

    .outline {
    }
    .modules {

        .tabs {
            &__menu {
                display: flex;
                padding: .5rem;
          
                
            }
            &__btn {
                cursor: pointer;
                border: none;
                appearance: none;
                outline: none;
                background: none;
                font-size: 1.6rem;
                text-transform: uppercase;
                font-weight: 700;
                white-space: nowrap;
                transition: color .2s ease-in-out;
                &:not(:first-child) {
                    margin-left: 2rem;
                    padding-left: .5rem;
                    &:before {
                        content: "|";
                        margin-right: 2rem;
                        color: var(--color-1);
                    }
                }

                &--active {
                    color: var(--color-4);
                }
            }
            &__content {
                padding: 15px;
                font-size: 1.8rem;
                display: none;

                &--active {
                    display: block;
                }
            }
        }


    }













    
    .pre {
        display: flex;
        flex-wrap: wrap;
        @include respond(md) {
            flex-direction: column;
        }


        ul {
            flex: 1;
            padding-left: 2rem;
            @media screen and (min-width: 768px) {
                &::before {
                    content: "";
                    width: 3px;
                    height: 100%;
                    background-color: var(--color-gray);
                    float: left;
                    margin-right: 2rem;
                }
            }
        }
    }
    .meetings {
        grid-area: meetings;
        text-align: center;
        background: var(--color-gray);

        display: flex;
        flex-direction: column;

        .heading {
            @include divider( var(--color-4), false );
        }

        &__dates {
            display: flex;
            flex-direction: column;
            time {
                padding: 1rem;
            }
        }

        @include respond(md) {
            display: none;
        }
   
    }

    .meetings-half {
        background-color: var(--color-gray);
        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .quote-box {
        text-align: center;
        color: var(--color-1);
        margin-top: auto;

        &--mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img {
            display: block;
            margin: 0 auto;
        }

        a {
            display: block;
        }
    }
}
// General Styles

ul {
    li {
        display: flex;
        &::before {
            content: "-";
            margin-right: 5px;
        }
    }
}

.hiddenText {
    display: none;
}

section {
    padding: 4rem 2rem;
    position: relative;
    .heading {
        font-size: 2.6rem;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        font-family: $font-primary;
        color: var(--color-1);
        @include divider( var(--color-4), true );
    }
}
.icon-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;

    &--static {
        flex-direction: row;
    }

    &--center {
        align-items: center;
    }
    @include respond(md) {
        flex-direction: row;
    }
    .icon {
        max-width: 5rem;
        width: 100%;
        height: auto;
        @include respond(md) {
            max-width: 7rem;
            margin-right: 1rem;
            margin-top: -5px;
        }

        &--responsive {
            @media screen and (min-width: 768px) {
                position: absolute;
                top: 105px;
                left: 25px;
            }
        }
    }
}

.content-box {
    h5 {
        color: var(--color-4);
    }

    p {
        color: var(--color-1);
    }

    @media screen and (min-width: 768px) {
        margin-left: 8rem;
        margin-top: -1rem;
        max-width: 70rem;
    }
}



